.simply-countdown {
	overflow: visible;
	display: table;
	font-family: var(--family-noto);
}

.simply-countdown > .simply-section {
	width: 90px;
	height: 90px;
	display: flex;
	align-items: center;
	justify-content: center;
	float: left;
	margin: 20px;
	border: 2px solid var(--alice-blue);
	border-radius: 20px;
	transform: rotate(-45deg);
}

.simply-countdown > .simply-section > div {
	transform: rotate(45deg);
}

.simply-countdown > .simply-section > div .simply-amount,
.simply-countdown > .simply-section > div .simply-word {
	display: block;
	text-align: center;
}

.simply-countdown > .simply-section > div .simply-amount {
	font-size: var(--fs-24);
	font-weight: var(--fw-500);
}

.simply-countdown > .simply-section > div .simply-word {
	font-size: var(--fs-16);
	font-weight: var(--fw-500);
}
